<header class="ge-appbar">
  <button class="ge-btn floating mini icon" offcanvas-button>
    <i class="mdi-navigation-menu"></i>
  </button>
  <h1 class="ge-appbar--title">Eurodance.com.br</h1>
  <span class="flex"></span>
  <button class="ge-btn floating mini icon">
    <i class="mdi-action-search"></i>
  </button>
  <button class="ge-btn floating mini icon">
    <i class="mdi-navigation-more-vert"></i>
  </button>
</header>