<nav class="ge-nav-default">
  <dl class="ge-nav-default--list">
    <dt class="ge-nav-default--list-title">teste</dt>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-social-people"></i> Artistas
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-album"></i> Podcasts
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-videocam"></i> Vídeos
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-radio"></i> Rádio
    </dd>
  </dl>
</nav>