<nav class="ge-nav-default">
  <dl class="ge-nav-default--list">
    <dt class="ge-nav-default--list-title">teste</dt>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-social-people grey-text"></i> Artistas
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-album grey-text"></i> Podcasts
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-videocam grey-text"></i> Vídeos
    </dd>
    <dd class="ge-nav-default--list-item">
      <i class="mdi-av-radio grey-text"></i> Rádio
    </dd>
  </dl>
</nav>