.ge-appbar {
  @extend .shadow-1;
  background: white;
  display: flex;
  align-items: center;
  height: $appbar-height-mobile;
  padding: 0 rem(8px) 0 rem(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .ge-appbar--title {
    @include get-type(title);
    margin-left: rem(24px);
  }

  .flex {
    display: flex;
    flex: 1;
  }

  @media #{$medium-and-up} {
    height: $appbar-height-tablet-desktop;
    padding: 0 rem(12px) 0 rem(12px);

    .ge-appbar--title {
      margin-left: rem(32px);
    }
  }
}