<div class="container">
  <h2>Material Css <i class="mdi-action-3d-rotation"></i></h2>
  <p>
    Roboto has been refined extensively to work across the wider set of supported platforms. It is slightly wider and rounder, giving it greater clarity and making it more optimistic.<br>
    <strong>These sizes</strong> and styles are chosen to balance content density and reading comfort under typical usage conditions. Type sizes are specified with sp (scaleable pixels) to enable large type modes for<br>
    <strong>These sizes</strong> and styles are chosen to balance content density and reading comfort under typical usage conditions. Type sizes are specified with sp (scaleable pixels) to enable large type modes for
  </p>
  <p><strong>These sizes</strong> and styles are chosen to balance content density and reading comfort under typical usage conditions. Type sizes are specified with sp (scaleable pixels) to enable large type modes for</p>
  <p><strong>These sizes</strong> and styles are chosen to balance content density and reading comfort under typical usage conditions. Type sizes are specified with sp (scaleable pixels) to enable large type modes for</p>
  <p><strong>These sizes</strong> and styles are chosen to balance content density and reading comfort under typical usage conditions. Type sizes are specified with sp (scaleable pixels) to enable large type modes for</p>
  <h2>Buttons</h2>
  <p>
    <a class="ge-btn flat">hover</a> <a class="ge-btn flat">hover</a> <a class="ge-btn flat disabled">hover</a><br>
    <a class="ge-btn raised pink white-text">disagree</a> <button class="ge-btn raised pink white-text disabled">disagree</button><br><br>
    <button class="ge-btn floating cyan white-text"><i class="mdi-content-add"></i></button>
    <button class="ge-btn floating black white-text"><i class="mdi-action-favorite"></i></button>
    <button class="ge-btn floating mini pink white-text"><i class="mdi-action-settings-voice"></i></button>
    <a class="ge-btn floating mini blue white-text"><i class="mdi-content-drafts"></i></a>
    <a class="ge-btn floating mini icon"><i class="mdi-content-drafts"></i></a>
  </p>
</div>